@model List<SimpleShopApp.Models.Product>
@{
    ViewData["Title"] = "Products";
}

<a asp-controller="Product" asp-action="Create" class="btn btn-success mb-3">Add new product</a>

<h2>List of products</h2>
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Quantity</th>
            <th>Actions</th>
        </tr>
    </thead>

    @foreach (var product in Model)
    {
        <tr>
            <td>@product.Id</td>
            <td>@product.Name</td>
            <td>@product.Quantity</td>
            <td>
                <a asp-controller="Product" asp-action="Details" asp-route-id="@product.Id" class="btn btn-sm btn-primary">Details</a>
                <a asp-controller="Product" asp-action="Edit" asp-route-id="@product.Id" class="btn btn-sm btn-primary">Edit</a>
                <a asp-controller="Product" asp-action="Delete" asp-route-id="@product.Id" class="btn btn-sm btn-danger">Delete</a>
            </td>
        </tr>
    }
</table>