@model IEnumerable<SimpleShopApp.Models.ProductModel>
@{
    ViewData["Title"] = "Products";
}

@if (User.Identity?.IsAuthenticated == true) 
{
    <a asp-controller="Product" asp-action="Create" class="btn btn-success mb-3">Add new product</a>
}

@if (TempData["successMessage"] != null)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        @Html.Raw(TempData["successMessage"])
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

<h2>List of products</h2>

<div class="row">
    <div class="col-md-4">
        <form class="input-group" autocomplete="off">
            <input type="text" name="search" placeholder="Search" class="form-control" />
            @*<input type="text" name="category" placeholder="Category" class="form-control" />*@
            <button class="btn btn-primary">Search</button>
        </form>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Category</th>
            <th>Actions</th>
        </tr>
    </thead>

    @foreach (var product in Model)
    {
        <tr>
            <td>@product.Id</td>
            <td>@product.Name</td>
            <td>@product.Price</td>
            <td>@product.Quantity</td>
            <td>@product.CategoryName</td>
            <td>
                <a asp-controller="Product" asp-action="Details" asp-route-id="@product.Id" class="btn btn-sm btn-primary">Details</a>
                <a asp-controller="Product" asp-action="Edit" asp-route-id="@product.Id" class="btn btn-sm btn-primary">Edit</a>
                <a asp-controller="Product" asp-action="Delete" asp-route-id="@product.Id" class="btn btn-sm btn-danger">Delete</a>
            </td>
        </tr>
    }
</table>