@model IEnumerable<SimpleShopApp.Models.CategoryModel>
@{
    ViewData["Title"] = "Categories";
}

<a asp-controller="Category" asp-action="Create" class="btn btn-success mb-3">Add new category</a>

@if (TempData["successMessage"] != null)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        @Html.Raw(TempData["successMessage"])
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}
<h2>List of categories</h2>
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Actions</th>
        </tr>
    </thead>

    @foreach (var category in Model)
    {
        <tr>
            <td>@category.Id</td>
            <td>@category.Name</td>
            <td>
                <a asp-controller="Category" asp-action="Edit" asp-route-id="@category.Id" class="btn btn-sm btn-primary">Edit</a>
                <a asp-controller="Category" asp-action="Delete" asp-route-id="@category.Id" class="btn btn-sm btn-danger">Delete</a>
            </td>
        </tr>
    }
</table>